<h1> Welcome, <%= @merchant_user.name %>!</h1>
<br>
<center>
  <h3><%= @merchant.name %></h3>
  <h3><%= @merchant.address %></h3>
  <h3><%= "#{@merchant.city}, #{@merchant.state} #{@merchant.zip}" %></h3>
</center>
<br><br>

<h1 align = "center">Pending Orders</h1>
<center>
  <table>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Quantity of Items</th>
      <th>Order Total</th>
    </tr>
  <% @pending_orders.each do |order|%>
    <tr>
    <section id = "order-<%=order.id%>">
        <td><p>Order <%=link_to order.id, merchant_orders_show_path(order) %></p></td>
        <td><p><%= order.created_at.strftime('%D')%></p></td>
        <td><p><%= number_to_currency(order.grandtotal) %></p></td>
      </section>
    </tr>
  <% end %>
</table>
