<h2>Merchant Dashboard!</h2>
<section>
  <p> <%= @user.name %> </p>
  <p>Address: <%= @user.address %> </p>
  <p>City: <%= @user.city %> </p>
  <p>State: <%= @user.state %> </p>
  <p>Zip Code: <%= @user.zip%> </p>
  <p>E-mail: <%= @user.email %> </p>
</section>
