<% current_user.orders.each do |order| %>
  <section id = "order-<%= order.id %>">
    <p><%= link_to "Order #: #{order.id}", "/order/#{order.id}" %></p>
    <p>Date of Order: <%= order.created_date %></p>
    <p>Last Updated: <%= order.updated_date %></p>
    <p>Order Status: <%= order.status.capitalize %></p>
    <p>Item Total: <%= order.item_count %></p>
    <p>Grand Total: <%= order.grandtotal %></p>
  </section>
<% end %>
