<p>ID: <%= link_to "#{id}", profile_order_path(id) %></p>
<p>Date Created: <%= created_at %></p>
<p>Last Updated: <%= updated_at %></p>
<p>Status: <%= status %></p>
<p>Total Quantity: <%= total_quantity %></p>
<p>Grand Total: <%= grand_total %></p>