<p>Name: <%= text_field_tag :name, name %></p>
<p>Address: <%= text_field_tag :address, address %></p>
<p>City: <%= text_field_tag :city, city %></p>
<p>State: <%= text_field_tag :state, state %></p>
<p>Zip: <%= text_field_tag :zip, zip %></p>
<p>Email: <%= text_field_tag :email, email%></p>