<h2>Edit your Password</h2>

<%= form_tag path, method: method do %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %>

  <%= submit_tag button %>
<% end %>
