<%= form_tag "/profile/update_password", method: :patch  do %>
  <div>
    <%= label_tag :password, "New Password" %><br />
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag :password_confirmation, "Confirm Password" %><br />
    <%= password_field_tag :password_confirmation %>
  </div>
  <div>
    <%= submit_tag 'Update' %>
  </div>
<% end %>
