<h1> Update User Profile</h1>
<section id= "user-profile-edit-form">
  <%= form_tag "/profile", method: :patch do %>
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, "#{@user.name}"%>
    </div>

    <div class="form-group">
      <%= label_tag :address %>
      <%= text_field_tag :address, "#{@user.address}" %>
    </div>

    <div class="form-group">
      <%= label_tag :city %>
      <%= text_field_tag :city, "#{@user.city}" %>
    </div>

    <div class="form-group">
      <%= label_tag :state %>
      <%= text_field_tag :state, "#{@user.state}" %>
    </div>

  <div class="form-group">
    <%= label_tag :zipcode %>
    <%= text_field_tag :zipcode, "#{@user.zipcode}" %>
  </div>

  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, "#{@user.email}" %>
  </div>

    <%= submit_tag 'Update Profile' %>
  <% end %>
</section>
