<h1>Update Your Password</h1>

<%= form_tag '/profile/update-password', method: :patch do %>
  <%= label_tag :password %>
  <%= password_field_tag :password, ' ' %>
  <%= label_tag :password_confirmation, 'Password Confirmation' %>
  <%= password_field_tag :password_confirmation, ' ' %>
  <%= submit_tag 'Update Password' %>
<% end %>
