<h1>Change your password below! </h1>
<%= form_for @user, url: profile_edit_password_path do |f| %>

<%= f.label :password %>
<%= f.password_field :password%><br>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation%>
<%= f.submit 'Update Password' %>
<% end  %>
