<h1> NEW USER PAGE </h1>
<%= form_tag '/users', method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div class="form-group">
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>

  <div class="form-group">
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>

  <div class="form-group">
    <%= label_tag :state %>
    <%= text_field_tag :state %>
  </div>

  <div class="form-group">
    <%= label_tag :zipcode %>
    <%= text_field_tag :zipcode %>
  </div>

  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="form-group">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>
