<h1>Register as a New User</h1>

<%= form_tag '/users' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :street_address %>
  <%= password_field_tag :street_address %>

  <%= label_tag :city %>
  <%= password_field_tag :city %>

  <%= label_tag :state %>
  <%= password_field_tag :state %>

  <%= label_tag :zip %>
  <%= password_field_tag :zip %>

  <%= label_tag :e_mail %>
  <%= password_field_tag :e_mail %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %>

  <%= submit_tag 'Create User' %>
<% end %>
