<h1>My Recent Orders</h1>

<div class="container">
  <h4>Order information</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Sold By</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Shipping Info</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <% @item_orders.each_with_index do |item_order, i| %>
        <tbody>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= item_order.item.name %></td>
            <td><%= item_order.item.merchant.name %></td>
            <td><%= item_order.price %></td>
            <td><%= item_order.quantity %></td>
            <td><%= item_order.subtotal %></td>
            <td><%= item_order.order.to_s %></td>
            <td><%= item_order.status %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
</div>
