<h1>Hello, <%= @user.name %>!</h1>

<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip Code: <%= @user.zip %></p>
<p>E-mail: <%= @user.email %></p><hr>

<%= link_to "Edit Profile", "/profile/#{@user.id}/edit" %>
<%= link_to "Edit Password", "/profile/#{@user.id}/edit/password" %>
