<h1>My Recent Orders</h1>

<div class="container">
  <h4>Order information</h4>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Item</th>
          <th scope="col">Sold By</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Shipping Info</th>
          <th scope="col">Order Initially Placed</th>
          <th scope="col">Order Last Updated</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>

      <tbody>
        <% @item_orders.group_by(&:order_id).each_pair do |order_id, item_orders| %>
          <% item_orders.each do |item_order| %>
            <section id='item-order-<%= item_order.id %>'>
                <tr>
                  <td><%= link_to item_order.order.id, order_path(item_order.order.id) %></td>
                  <td>
                    <%= item_order.item.name %>
                    <img id='thumbnail-<%= item_order.id %>'><%= image_tag item_order.item.image, class: 'img_thumbnail' %></img>
                  </td>
                  <td><%= item_order.item.merchant.name %></td>
                  <td><%= item_order.price %></td>
                  <td><%= item_order.quantity %></td>
                  <td><%= item_order.subtotal %></td>
                  <td><%= item_order.order.to_s %></td>
                  <td><%= item_order.created_at %></td>
                  <td><%= item_order.updated_at %></td>
                  <td><%= item_order.status %></td>
                </tr>
            </section>
          <% end %>

          <section id='order-stats-<%= order_id %>'>
            <tr class="table-success">
              <td colspan=2>Total Quantity</td>
              <td colspan=8><%= @item_orders.total_quantity_per_order(order_id) %></td>
            </tr>

            <tr class="table-info">
              <td colspan=2>Grand Total</td>
              <td colspan=8><%= number_to_currency(@item_orders.grandtotal_per_order(order_id)) %></td>
            </tr>
          </section>
        <% end %>
      </tbody>
    </table>
</div>
