<h1 class="mt-4 text-center">Hello, <%= @user.name %></h1>

<h2 class="m-4 text-center">Your Information</h2>

<table class="profile-info">
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%= @user.city %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @user.state %></td>
  </tr>
  <tr>
    <td>Zip</td>
    <td><%= @user.zip %></td>
  </tr>
</table>

<article class="justify-content-center row">
  <%= link_to 'Edit Your Info', '/profile/edit', class: 'btn btn-primary mt-4' %>
  <%= link_to 'Change Your Password', '/profile/edit?info=false', class: 'btn btn-danger mt-4 ml-3' %>
</article>
