<h1>Hello, <%= current_user.name %>!</h1>

<p>Address: <%= current_user.address %></p>
<p>City: <%= current_user.city %></p>
<p>State: <%= current_user.state %></p>
<p>Zip Code: <%= current_user.zip %></p>
<p>E-mail: <%= current_user.email %></p><hr>

<%= link_to "Edit Profile", "/profile/edit" %>
