<h1>Profile for <%= current_user.name %></h1>

<section class = "user-profile">
  <p>Name: <%= current_user.name  %></p>
  <p>Address: <%= current_user.address  %></p>
  <p>City: <%= current_user.city  %></p>
  <p>State: <%= current_user.state  %></p>
  <p>Zip: <%= current_user.zip  %></p>
  <p>Email: <%= current_user.email  %></p>
</section>

<%= link_to 'Edit Profile', "/profile/edit" %>
