<h1 align = "center">Merchants</h1>
<% if current_admin? %>
  <section class = "grid-container">
    <% @merchants.each do |merchant|%>
      <section class = "grid-item", id = "merchant-<%= merchant.id %>">
        <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
        <p>Located in: <%= merchant.city %>, <%= merchant.state %></p>
        <% if merchant.enabled? %>
          <%= form_for merchant do |f| %>
            <%= f.hidden_field :enabled?, value: false %>
            <%= f.submit "Disable" %>
          <% end %>
        <% else %>
          <%= form_for merchant do |f| %>
            <%= f.hidden_field :enabled?, value: true %>
            <%= f.submit "Enable" %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </section>
<% else %>
  <p align="center"><%= link_to "New Merchant", new_merchant_path %></p>
  <section class = "grid-container">
    <% @merchants.each do |merchant|%>
      <section class = "grid-item">
        <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      </section>
    <% end %>
  </section>
<% end %>
