<% @orders.each do |order| %>
  <%= link_to order.id, order_path(order) %>
  <%= order.created_at %>
  <p>Total Order Item Count: <%= order.item_orders.count %></p>
  <p>Grand Total: <%= order.grandtotal %></p>
  <p>Status: <%= order.status %></p>
<% end %>
