<center>
<h1>Order History</h1>
<% @orders.each do |order| %>
<section id="order-#{order.id}"><p>
  <br /><b><%= link_to "Order ID ##{order.id}", user_order_path(order) %></b>
  <br />Placed On: <%= order.created_at %>
  <br />Number of Items Ordered: <%= order.item_orders.count %>
  <br />Grand Total: <%= number_to_currency(order.grandtotal) %>
  <br />Status: <%= order.status %>
</p>
</section>
<% end %>
</center>
