<h1 align = "center">Order ID #<%= @order.id %> Details</h1>
<center>
  <div id="table-container">
  <table>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  <% @order.items.each do |item|%>
    <tr>
    <section id="item-table">
        <td><p><center><div id='order-display-image'><%= image_tag item.image %></div></center></p></td>
        <td><p><center><%=link_to item.name, "/items/#{item.id}"%></center></p></td>
        <td><p><center><%= item.description %></center></p></td>
        <td><p><center><%= number_to_currency(item.price)%></center></p></td>
        <% end %>
      </section>
    </tr>
</table>
<table>
  <tr>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
<% @order.item_orders.each do |item|%>
  <tr>
  <section id="item-orders">
      <td><p><center><%= item.quantity%></center></p></td>
      <td><p><center><%= number_to_currency(item.subtotal)%></center></p></td>
      <% end %>
    </section>
  </tr>
</table>
</div>

<section id="grandtotal">
  <p><b>Order Total: <%=number_to_currency(@order.grandtotal)%></b></p>
</section>
<section id="status">
  Current Status: <i><%= @order.status%></i>
  <br />Last Updated On: <%= @order.updated_at%>
  <br />Order Placed On: <%= @order.created_at%>
</section>

<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>
