<center><h1>My Items</h1> </center>

<div class="container">
  <h4>Item Information</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Item ID</th>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Active?</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <section id='item-<%= item.id %>'>
              <tr>
                <td><%= item.name %> </td>
                  <td>#<%= item.id %></td>
                <td><img id='thumbnail-<%= item.id %>'><%= image_tag item.image, class: 'img_thumbnail' %></img></td>
                <td><%= item.description %></td>
                <td><%= item.price %></td>
                <td><%= item.inventory %></td>
                <td><%= item.active? %></td>
                <% if item.no_orders? %>
                  <td><%= link_to "Delete", "/merchant/items/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger item-buttons" %></td>
                <% end %>
              </tr>
          </section>
        <% end %>
      </tbody>
    </table>
</div>
