<div class="jumbotron">
  <section id="user-info-<%=@user.id %>">
    <p class="lead">Name: <%= @user.name %></p>
    <p class="lead">Address: <%= @user.address %></p>
    <p class="lead">City: <%= @user.city %></p>
    <p class="lead">State: <%= @user.state %></p>
    <p class="lead">Zipcode: <%= @user.zipcode %></p>
    <p class="lead">Email: <%= @user.email %></p>
  </section>
</div>
