<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", "/", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "All Merchants", "/merchants", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "All Items", items_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <% if current_admin? %>
          <%= link_to "All Users", admin_users_path, class: "nav-link"%>
        <% end %>
      </li>
    </ul>

    <% if current_merchant_employee? || current_merchant_admin? %>
    <%= link_to "Merchant Dashboard", "/merchant" %>
    <% end %>

    <% if current_admin? %>
    <%= link_to "Admin Dashboard", admin_path, method: :get, class: "nav-link nav-item" %>
    <% end %>

    <% if current_user %>
      <%= link_to "Profile", "/profile", method: :get, class: "nav-link nav-item" %>
      <%= link_to "Logout", "/logout", method: :delete, class: "nav-link nav-item"%>
    <% else %>
      <%= link_to "Login", "/login", class: "nav-link nav-item"%>
      <%= link_to "Register", "/register", class: "nav-link nav-item" %>
    <% end %>

    <% unless current_admin? %>
      <%= link_to "Cart: #{cart.total_items}", "/cart", class: "nav-link nav-item" %>
    <% end %>
  </div>
</nav>
