<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", "/", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "All Merchants", "/merchants", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "All Items", "/items", class: "nav-link"%>
      </li>
    </ul>

      <%= link_to "Login", "/login", class: "nav-link nav-item"%>
      <%= link_to "Register", "/register", class: "nav-link nav-item" %>
      <%= link_to "Cart: #{cart.total_items}", "/cart", class: "nav-link nav-item" %>
  </div>
</nav>
