<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <section class="topnav-index">
        <%= link_to "All Merchants", "/merchants"%>
        <%= link_to "All Items", "/items"%>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      </section>
      <section id="home-pic">
        <%= link_to "/" do %>
          <section class="home-link">
            <p>I wanna go home</p>
            <img src="https://www.davidbrassrarebooks.com/pictures/03815_8.jpg?v=1478033010", id: "home-img">
          </section>
        <% end %>
      </section>
      <section>
        <%= link_to 'Login', '/user/login' %>
      </section>
      <section>
        <%= link_to 'Register', '/user/register' %>
      </section>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
