<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Nixie One' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin? %>
      <%= link_to "Home", home_path %>
      <%= link_to 'Register', "/register" unless current_user %>
      <%= link_to 'Login', '/login' unless current_user %>
      <% if current_user %>
        <%= link_to 'Logout'%>
        <%= link_to 'Profile', profile_path %>
        <p>Logged in as <%= current_user.name %></p>
        <% if current_employee? %>
        <br>
          <%= link_to 'Dashboard' %>
        <% elsif current_merchant? %>
        <br>
          <%= link_to 'Dashboard', merchant_dashboard_path %>
        <% elsif current_admin? %>
          <%= link_to 'Dashboard', admin_dashboard_path %>
          <%= link_to 'Users'%>
        <% end %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
